body {
    margin:20px;
}

#alert-running, #alert-not-running {
    float:right;
    margin-top:10px;
    display:none;
}

#devices, #messages, #compose {
    border: 1px solid lightgray;
    padding:20px;
    margin:20px 0px;
    border-radius: 4px;
}

#devices {
    margin-top: 40px;
}

#devices button {
    margin: 10px 0px;
}

#devices h2 {
    margin-top: 0px;
}